body {
  margin-left: 0;
  margin-right: 0;
  background-color: black;
}
h3 {
  color: whitesmoke;
  font-family: "Lobster", cursive;
}
h4 {
  color: whitesmoke;
  font-family: "Lobster", cursive;
}
.fav {
  background-color: #98fb98;
  color: black;
  font-weight: bolder;
}
#container {
  height: 800px;
  background-color: black;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #ff7f50;
}
@media screen and (max-width: 361px) {
  #container {
    width: fit-content;
    height: 60%;
    margin-top: 40px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 782px) {
  #container {
    width: 90%;
    height: 600px;
    margin-left: 20px;
    margin-top: 20px;
  }
}
select {
  width: 150px;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.select-checkbox option:checked::before {
  content: "\2611";
}

.select-checkbox-fa option::before {
  font-family: FontAwesome;
  content: "\f096";
  width: 1.3em;
  display: inline-block;
  margin-left: 2px;
}
.select-checkbox-fa option:checked::before {
  content: "\f046";
}
.style-footer {
  width: 100%;
  height: fit-content;
  max-width: top 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  position: relative;
  margin-top: 40px;
}
.navbar-brand {
  font-size: 300%;
  font-weight: bolder;
  font-family: "Lobster", cursive;
}
