{% extends "ipl_solution/base.html" %} {% block content %}
<div class="row text-center">
  <br />
  <div class="container-fluid">
    <div class="main_grid">
      <div>
        <h3>Choose Players</h3>
        <form action="">
          <select
            name="players"
            data-toggle="tooltip"
            title="Press and hold ctrl for multiple select"
            class="form-control select-checkbox fav"
            size="5"
            id="players"
            multiple
          >
            <script>
              populateDropdown("players");
            </script>
          </select>
          <br />
          <br />
        </form>
        <hr />
        <h3>Choose range of total runs</h3>
        <form>
          <div class="flex_box">
            <div>
              <h4>choose start</h4>
              <select
                name="runs"
                class="form-control select-checkbox fav"
                data="tooltip"
                title="Select the start value of total runs range"
                size="5"
                id="start"
              >
                <option value="0" selected="selected">0</option>
                <script>
                  populateDropdown2("start");
                </script>
              </select>
            </div>
            <div>
              <h4>choose end</h4>
              <select
                name="runs"
                class="form-control select-checkbox fav"
                data="tooltip"
                title="Select the end value of total runs range"
                size="5"
                id="end"
              >
                <script>
                  populateDropdown2("end");
                </script>
                <option value="5000" selected="selected">5000</option>
              </select>
            </div>
          </div>
        </form>
        <a class="style-a" onclick="view('custom_range');">
          <div id="custom_range">
            <form>
              <div class="flex_box">
                <input
                  type="number"
                  id="custom_start"
                  name="custom_start"
                  placeholder="Enter start value"
                  min="0"
                  max="5000"
                />
                <input
                  type="number"
                  id="custom_end"
                  name="custom_end"
                  placeholder="Enter end value"
                  min="0"
                  max="5000"
                />
              </div>
            </form>
          </div>
          Click to enter custom range
        </a>
        <br />
        <br />
        <hr />
        <h3>Get top performing players</h3>
        <select
          name="top"
          class="form-control select-checkbox fav"
          data="tooltip"
          title="Select value to get top performers"
          size="5"
          id="top"
        >
          <option value="2">Get top 2 players</option>
          <option value="3">Get top 3 players</option>
          <option value="4">Get top 4 players</option>
          <option value="5">Get top 5 players</option>
        </select>
        <br />
        <a class="style-a" onclick="view('custom_top');">
          <div id="custom_top">
            <form>
              <div class="flex_box_2">
                <input
                  type="number"
                  id="custom_top_value"
                  data="tooltip"
                  title="Enter value to get top performers"
                  min="0"
                  max="30000"
                />
              </div>
            </form>
          </div>
          Click to enter custom value
        </a>
        <br />
        <br />
        <button
          id="submit"
          class="btn btn-success"
          onclick="plotGraphs2('players','start','end', 'custom_start', 
          'custom_end','top','custom_top_value');"
        >
          Show graph
        </button>
      </div>
      <div id="container"></div>
    </div>
  </div>
</div>
{% endblock %}
