{% extends "ipl_solution/base.html" %} {% block content %}
<div class="row text-center">
  <br />
  <div class="container">
    <div class="row">
      <h3>Choose seasons</h3>
      <form action="">
        <select
          name="players"
          data="tooltip"
          title="Press and hold ctrl for multiple select"
          class="form-control select-checkbox fav"
          size="5"
          id="seasons"
          multiple
        >
          <script>
            populateDropdown4("seasons");
          </script>
        </select>
        <br /><br />
      </form>
      <h3>Choose teams</h3>
      <form action="">
        <select
          name="teams"
          data="tooltip"
          title="Press and hold ctrl for multiple select"
          class="form-control select-checkbox fav"
          size="5"
          id="teams"
          multiple
        >
          <script>
            populateDropdown5("teams");
          </script>
        </select>
        <br /><br />
      </form>
    </div>
    <button
      id="submit"
      class="btn btn-success"
      onclick="plotGraphs4('seasons','teams');"
    >
      Show graph
    </button>
    <div id="container"></div>
  </div>
</div>
{% endblock %}
